<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="true">
  <variable name="exceptionoutput" value="${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=Type,Message}"/>
  <variable name="exceptionoutput2" value="${exception:innerFormat=ToString:maxInnerExceptionLevel=10:format=ToString}"/>
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="Console"  name="console"
            layout="${longdate}|${message}|${logger}"
            error="false"
            detectConsoleAvailable="true" />

    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${shortdate}-${logger}.log"
            header="time|message|exception|stacktrace"
            layout="${longdate}|${message}|${exceptionoutput2}"
            concurrentWrites="true"
            keepFileOpen="true" />

    <target xsi:type="Null" name="nowhere" formatMessage="false" layout="" />

  </targets>
  <rules>
    <!--node -->
    <logger name="DataTransformationService" minlevel="Debug" writeTo="file" final="true"/>
    <logger name="DataTransformerService" minlevel="Debug" writeTo="file" final="true"/>
    <logger name="StartupMerkleLogger" minlevel="Debug" writeTo="File" final="true" />
    <logger name="DatabaseService" minlevel="Debug" writeTo="file" final="true"/>
    <logger name="LedgerService" minlevel="Debug" writeTo="file" final="true"/>
    <!--<logger name="MessageLogger" minlevel="Debug" writeTo="file" final="true"/>-->
    <logger name="MessageLogger" minlevel="Debug" writeTo="nowhere" final="true"/>

    <!--
    <logger name="ConnectionService" minlevel="Debug" writeTo="file" final="true"/>
    <logger name="LiveService" minlevel="Debug" writeTo="file" final="true"/>
    -->
    <!--end node -->

    
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>